:root {
    --accent-colour: #6EB6C0;
    --bg: #d5d5d5;
}

body {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    background-color: var(--bg);
}

body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.navbar {
    position: absolute;
    top: 20%;
    right: 0%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--accent-colour);
    border-radius: 15px 0 0 15px;
    min-width: 200px;
}

.link {
    font-family: Inter;
    text-decoration: none;
    color: #000;
    font-size: 19px;
    transition: all 0.2s;
    margin: 30px
}

.link:hover {
    font-size: 20px;
}

.footer {
    height: 64px;
    background-color: var(--accent-colour);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 30px;
}

.header-img {
    width: 100vw;
    height: 100vh;
    clip-path: polygon(0% 0, 0% 100%, 100% 80%, 100% 0%);
    overflow-y: scroll;
}

.header-img-small {
    width: 100vw;
    height: 65vh;
    overflow-y: scroll;
}

.title {
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 10;
    display: block;
}

.title>.name {
    font-family: Noto Sans;
    font-size: 82px;
    color: #f6f6f6;
}

.title>.description {
    font-family: JetBrains Mono;
    font-style: italic;
    font-size: 27px;
    color: #6EB6C0;
}

.content {
    width: 1200px;
    margin: 50px auto 0px auto;
}

.heading {
    font-family: JetBrains Mono;
    font-size: 32px;
    font-weight: 500;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
}

li>span {
    content: '';
    display: inline-block;
    width: 10px;
    height: 40px;
    border-radius: 4px;
    background: var(--accent-colour);
}

.footer-link {
    font-family: Montserrat;
    color: #000;
    margin-right: 20px;
    font-size: 17px;
    transition: all 0.2s;
}

.footer-link:hover {
    font-size: 18px;
}

.title-small {
    position: absolute;
    top: 45%;
    left: 5%;
    z-index: 10;
    display: block;
    font-family: Noto Sans;
    font-size: 60px;
    color: #f6f6f6;
}

.footer-links, .footer-icons{
    display: flex;
    align-items: center;
}

.footer-icon {
    width: 36px;
    height: 36px;
    margin-left: 20px;
}

a {
    text-decoration: none;
}